.container {
  margin: 0 150px;
  overflow-y: scroll;
  /* height: inherit; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}