.credits {
    position: fixed;
    right: 150px;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 1;
    background: #000000e0;
}

.credits a {
    color: #18d26e;
    transition: 0.3s;
    text-decoration: none;
}