@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/Proxima-Nova-Bold.woff') format('woff2');
  font-weight: 700;
}


body {
  margin: 0;
  font-family: 'Proxima Nova', Arial, Tahoma, PingFangSC, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("/man.jpg") top right no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 0;
  transform: scaleX(-1);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}