/* font-family: 'Hind Vadodara', sans-serif;
font-family: 'Roboto Mono', monospace; */

#portafolio {
    position: relative;
    padding-top: 20px;
    font-family: 'Roboto Mono', monospace;
}

.section-title {
    margin: 40px 0 40px 0;
}

.section-title h2 {
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    line-height: 1.5;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    /* font-family: "Poppins", sans-serif; */
}

.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.section-title p {
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.section-portafolio {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 0 40px;
    place-items: center;
}